a,a:hover{
	text-decoration: none;
}
header .navigation .navgition-menu ul .toggleable .menu-item::after{
	visibility: hidden;
}

.header-left a,
.header-left a:hover
{
	text-decoration:  none;
	color: #000;
}

.partner .partner_block .partner--logo img{
	width: 100%;
	max-height: 80%;
	height: inherit; 
}
.partner .partner_block .partner--logo{
	padding: 24px;
}
img.logo-mobile{
	height: 120px;
}
img.logo-desktop{
	width: 230px;
}
img.logo-footer{
	width: 250px;
}

/* Pagination */
ul.pagination{

}

ul.pagination li{
	margin-right: 5px;
}

ul.pagination li a{
	font-weight: bold;
	background-color: #eaeff4;
	color: #252525;
	font-size: 14px;
	border-radius: 0;
	padding: 10px 15px;
	text-transform: uppercase;
	font-family: 'Cera Pro Bold';
	border: 2px solid #eaeff4;
	transition: 0.3s ease;
	display: inline-block;
}
ul.pagination li a:hover{
	text-decoration: none;
	background-color: #88c74a;
	color: #fff;
	border: 2px solid #88c74a;
}

ul.pagination li.active a{
	background-color: #88c74a;
	color: #fff;
	border: 2px solid #88c74a;
}

.blog-describe p {
	line-height: 30px;
}

.blog-layout .blog-describe p{
    font-family: "Cera Pro Regular";
    font-size: 16px;
    color: #636363;
    line-height: 24px;
    display: block;
    margin-bottom: 20px;
}

.blog-detail > img{
	width: 100% !important;
	height: auto !important;
}

.blog-detail_share > img{
	width: inherit !important;
	height: inherit !important;
}

.blog-describe img{
	width: 100% !important;
	height: auto !important;
}

.store-title{
	border-bottom: 1px solid #ddd;
	padding :  12px;
}
.specification_item{
	margin-bottom: 48px;
}

tr th{
	font-weight: bold;
}
