html, body {
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif !important;
}
.app-title{
	font-size: 2em;
	letter-spacing: 2px;
	color: #fff;
}
.title-top{
	line-height: 63px;
}
.requiredsign{
	color: #ff0000;
	font-weight: bold;
	margin-left: 5px;
}
.searchpanel{
	margin-bottom: 24px;
	display: none;
}

.bolder{
	font-weight: bold;
}

.error{
*/	font-style: italic;
	font-size: 0.8em;
	margin-left: 12px;
	color: #ff0000;
}

.error:before{
	content: "* ";
}

.dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
  color: #212121;
}

/*/*.dataTables_filter{
	float: right;
}
.dataTables_filter .dt-search{
	float: right;
}*/
.requiredsign{
	color: #ff0000;
}
.no-border td,
.no-border th
{
	border: none;
	padding: 0px;
	background: #fff;
}*/

.table{
	background: #fff;
}

table th{
	text-transform: uppercase;
}

.slave-header{
	border-bottom: 1px solid #aaa;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}
#map-container{
	position: relative;
}
#map{
	height: 500px;
}
#info-box{
	top: 24px;
	left: 24px;
	height: 450px;
	width: 400px;
	overflow-y: scroll;
	padding: 12px;
	position: absolute;
	background: #fff;
	border: 1px solid;
}

@media screen {
	#barChart_img,
	#pieChart_img {
		display: none !important;
	}
	#barChart,
	#pieChart {
		display: inherit !important;
	}
}

@media print {
	body{
		background-color: #fff;
	}
	table th{
		text-transform: uppercase;
	}
	h1, h2, h3, h4, h5, h6{
		text-transform: uppercase;
	}
	#barChart_img,
	#pieChart_img {
		display: inherit !important;
	}
	#barChart,
	#pieChart {
		display: none !important;
		height: 0 !important;
	}
}

.sidebar .nav-dropdown-items{
	margin-left: 24px !important;
}

.number-format input,
.decimal-format input{
	text-align: right;
}

@media screen {
  #printArea{
    border: 1px solid #333;
  }
}
@media print{
  #printArea{
    border: none;
  } 
}
a.dashboard:hover{
	text-decoration: none !important;
}

.app-name{
	text-transform: none;
	padding-top: 9px;
}

.img-login-logo{
	text-align: center;
	width: 75px;
	margin: 12px;
}

body.login{
	background-size: 100%;
}

@media (max-width: 720px) {
	body.login{
		background-size: auto 100%;
	}
}

/*.dataTables_length label{
	width: 100%;
}
.dataTables_length label .form-control{
	width: 70px !important;
	display: inline-table;
}
.dataTables_filter label{
	width: 100%;
}
.dataTables_filter label .form-control{
	width: 200px !important;
	display: inline-table;
}*/

.white-transparent{
	background-color: rgba(255,255,255,0.9);
	opacity: 0.9;
}

.form-separator {
    background: #e4e4e4;
    color: #000;
    padding: 12px;
    font-weight: bold;
    margin: 12px 0px;
}
input.currency {
    text-align: right;
    padding-right: 15px;
}

.tt-suggestion{
	background: #fff;
	padding: 12px 6px;
	z-index: 9;
	width: 100%;
}
.form-group label{
	line-height: 30px;
}

#printarea{
	background: #fff;
}
@media print {
	#printarea{
		background: #fff;
	}
}

span.input-buttons.number-input-buttons.input-button-size-1{
	margin-top: 10px;
}

span.input-buttons.number-input-buttons.input-button-size-1:focus{
	display: block;
	visibility: visible;
}

.m-form__help {
  color: #888;
  font-size: 0.8em;
}
.spin-loading {
   margin-top: 0px;
}

.m-wizard.m-wizard--3 .m-wizard__form {
    padding: 2rem 2rem 2rem 2rem;
}
.kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container{
	margin-bottom: 1rem;
}

.kt-portlet__head-actions a {
  margin-right: 6px;
}

.toast .toast-title{
	color: #fff !important;
}

.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form {
  width: 80%;
  padding: 1rem 0 1rem;
}

.modal-dialog.modal-lg{
	width: 90% !important;
	max-width: 90% !important;
}

.datepicker{
	z-index:  100 !important;
}

.kt-avatar__upload {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.kt-portlet.kt-portlet--height-fluid {
  height: auto;
  padding-bottom: 48px;
}

/* MAPS */
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
